{% extends  "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.item_name }}</h2>
    {% if user.is_authenticated %}

        {% if in_watchlist %}
            En Watchlist
        {% else %}
            <form>
            <button>Add to watchlist</button>
            </form>
        {% endif %}
    {% endif %}
    <hr>
    <div id="listing_pic_div">
        <img src="{{ listing.image }}" alt="Item Picture" >
    </div>
    <hr>
    <h3>Description:</h3>
    <p class="listing_text">{{ listing.item_description }}</p>
    <
{% endblock body %}