{% extends  "auctions/layout.html" %}
{% load bootstrap4 %}

{% block body %}
    <h1>Categories</h1>
    <hr>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
            Categories:
        </button>
        <form method="get" action="{% url "categories" %}">
                    {% for category in categories %}
            <button type="submit" name="value" value="{{ category.name }}" class="list-group-item list-group-item-action">{{ category.name }}</button>
        {% endfor %}
        </form>

    </div>
{% endblock body %}
